.page-content a {
	// Don't nowrap links in post content.
	white-space: normal !important;
}

// Adjust the colors of the ```diff fenced code blocks to make removed lines red.
.language-diff .highlight {
	.gd {
		color: #af2b2b;
	}
	// .gi {
	// 	color: #8d9900;
	// }
}

$hm-red: #d24632;
$link-color: $hm-red;
$sidebar-color: $hm-red;
$nav-child-link-color: #737373;
$nav-child-link-color: white;
$grey-dk-000: white;

.site-title,
.navigation-list-link,
.navigation-list-link.active {
	color: white !important;
}

.navigation-list-child-list .navigation-list-item::before,
.navigation-list-child-list .navigation-list-item.active::before {
	color: #e3e3e3 !important;
}
.site-title {
	white-space: nowrap;
}
.side-bar .btn-outline {
	color: white !important;
}
.page-header a {

}

.site-footer {
	background-color: $hm-red;
	color: white;
	a {
		color: white;
	}
}
